.off-canvas-navicon--docs.off-canvas-navicon.off-canvas-navicon--right.off-canvas-navicon--fixed(data-off-canvas="sidebar-1")
  i.fa.fa-bars(aria-hidden="true")

.docs__sidebar.off-canvas.off-canvas--sm.off-canvas--right.off-canvas--fixed(id="sidebar-1")
  .off-canvas__close.off-canvas__close--left.hide--md-up
    i.fa.fa-times-circle(aria-hidden="true")

  .docs__sidebar-menu
    h4 Docs

    ul
      li
        a(href="getting-started.html") Getting Started

      li
        a(href="basics.html") Basics

      li.current.menu-marker
        a(href="#layout") Layout
        ul
          li
            a(href="#layout-grid-systems") Grid Systems
          li
            a(href="#layout-grid-classes") Grid Classes
          li
            a(href="#layout-grid-mixins") Grid Mixins
          li
            a(href="#layout-visibility") Visibility

      li
        a(href="components.html") Components

      li
        a(href="decoration.html") Decoration

      li
        a(href="examples.html") Examples

      li.hide--md-up
        a(
          href="https://github.com/SimonPadbury/Codebase"
          target="_blank"
          rel="noopener noreferrer"
          )
          i(
            class="fa fa-github-alt"
            aria-hidden="true"
            )
          | &nbsp; GitHub Repository
