//- Docs navbar

nav.navbar.navbar--fixed.docs__navbar

  .navbar--left
    a(href="index.html").brand Codebase <span class="text--muted">2.x PREVIEW</span>

  .navbar--right.show--md-up
    ul
      li
        a(
          href="https://github.com/SimonPadbury/Codebase"
          target="_blank"
          rel="noopener noreferrer"
          )
          i(
            class="fa fa-github-alt"
            aria-hidden="true"
            )
          | &nbsp; GitHub Repository
