footer.docs__footer
  span.text--gray-lighten-4
    a(href="index.html") Codebase
    |  version 2.x PREVIEW
    | |&nbsp;
    a(
      href="https://github.com/SimonPadbury/Codebase"
      target="_blank"
      rel="noopener noreferrer"
      ) GitHub Repository
    | &nbsp;| Built by&nbsp;
    a(
      href="http://simonpadbury.github.io"
      target="_blank"
      rel="noopener noreferrer"
      ) Simon Padbury
