.off-canvas-navicon--docs.off-canvas-navicon.off-canvas-navicon--right.off-canvas-navicon--fixed(data-off-canvas="sidebar-1")
  i.fa.fa-bars(aria-hidden="true")

.docs__sidebar.off-canvas.off-canvas--sm.off-canvas--right.off-canvas--fixed(id="sidebar-1")
  .off-canvas__close.off-canvas__close--left.hide--md-up
    i.fa.fa-times-circle(aria-hidden="true")

  .docs__sidebar-menu
    h4 Docs

    ul
      li
        a(href="getting-started.html") Getting Started

      li.current.menu-marker
        a(href="#basics") Basics
        ul
          li
            a(href="#basics-headings") Headings
          li
            a(href="#basics-paragraphs") Paragraphs
          li
            a(href="#basics-blockquotes") Blockquotes
          li
            a(href="#basics-text-alignment") Text Alignment
          li
            a(href="#basics-text-columns") Text Columns
          li
            a(href="#basics-enlarged-typography") Enlarged Typography
          li
            a(href="#basics-initial-icons") Initial Icons
          li
            a(href="#basics-text-elements") Simple Text Elements
          li
            a(href="#basics-lists") Lists
          li
            a(href="#basics-tables") Tables
          li
            a(href="#basics-horizontal-rules") Horizontal Rules
          li
            a(href="#basics-form--elements") Form Elements
          li
            a(href="#basics-buttons") Buttons
          li
            a(href="#basics-combos") Combos
          li
            a(href="#basics-floats-and-clearfix") Floats and Clearfix
          li
            a(href="#basics-badges") Badges
          li
            a(href="#basics-labels") Labels
          li
            a(href="#basics-images") Images

      li
        a(href="layout.html") Layout

      li
        a(href="components.html") Components

      li
        a(href="decoration.html") Decoration

      li
        a(href="examples.html") Examples

      li.hide--md-up
        a(
          href="https://github.com/SimonPadbury/Codebase"
          target="_blank"
          rel="noopener noreferrer"
          )
          i(
            class="fa fa-github-alt"
            aria-hidden="true"
            )
          | &nbsp; GitHub Repository
