//- Basics Mixins: Lists

//-
  These are simply for prototyping. Of course you will want to compose your own lists in real life.

mixin ol(listItem, total, listClass)

  - var n = 0
  ol(class=listClass)
    while n < total
      li= listItem
        =' '
        = (n++ + 1)

//- Example
  +list-ol('List item' 6, 'menu')

mixin ul(listItem, total, listClass)

  - var n = 0
  ul(class=listClass)
    while n < total
      li= listItem
        =' '
        = (n++ + 1)

mixin dl(defTitle, defData, total, listClass)

  - var n = 0
  dl(class=listClass)
    while n < total
      dt= defTitle
      dd= defData
        = (n++ + 1)
