//- IMAGE PLACEHOLDER GENERATORS

mixin image-placeholder-light(imageWidth, imageHeight, imageClass)

  - var imageWidth
  - var imageHeight
  
  svg(xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" width=imageWidth height=imageHeight class=imageClass style="max-width: 100%; height: auto; background: #eee")
    line(x2="100%" y2="100%" style="stroke: #ccc; stroke-width: 2px; stroke-linecap: round;")
    line(y1="100%" x2="100%" style="stroke: #ccc; stroke-width: 2px; stroke-linecap: round;")

mixin image-placeholder-dark(imageWidth, imageHeight, imageClass)

  - var imageWidth
  - var imageHeight
  
  svg(xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" width=imageWidth height=imageHeight class=imageClass style="max-width: 100%; height: auto; background: #555")
    line(x2="100%" y2="100%" style="stroke: #777; stroke-width: 2px; stroke-linecap: round;")
    line(y1="100%" x2="100%" style="stroke: #777; stroke-width: 2px; stroke-linecap: round;")

//- Example:
  +image-placeholder-light(100, 100, 'add-some-classes')

mixin background-image-placeholder-light
  style.
    .background-image-placeholder-light {
      background: #eee url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='20' viewBox='0 0 30 20' fill='none' stroke='#ccc'><line x1='30' y1='0' x2='0' y2='20'></line><line x1='0' y1='0' x2='30' y2='20'></line></svg>");
    }
  .background-image-placeholder-light
    if block
      block
    else
      p [Your content here...]

mixin background-image-placeholder-dark
  style.
    .background-image-placeholder-dark {
      background: #555 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='20' viewBox='0 0 30 20' fill='none' stroke='#777'><line x1='30' y1='0' x2='0' y2='20'></line><line x1='0' y1='0' x2='30' y2='20'></line></svg>");
    }
  .background-image-placeholder-dark
    if block
      block
    else
      p [Your content here...]

//- Example:
  +background-image-placeholder-light
    p Hello
