extends ../../docs-template-partials/_docs-article

block prepend article
  - var articleId = "getting-started-codebase-with-pug"
  - var articleTitle = "Using Codebase with Pug"

block section      
  p.lead The Codebase documentation has been developed using #[a(href="http://pugjs.org/") PugJS]. The Pug HTML-templating language is being #[a(href="https://github.com/pugjs/pug") developed by Forbes Lindesay on GitHub].

  .flexbox.flexbox--gap
    .flex-item--span-6
      p Pug is a whitespace-sensitive (indented syntax) templating language for pre-processing into HTML. With Pug you can use partial-page includes, loops, conditionals, inheritance, mixins and variables.

      p One way of using Codebase with Pug in your project is as follows: Codebase comes with a simple starter Pug template called #[a(href="codebase/pug/_codebase.pug") _codebase.pug], which you can inherit (using #[a(href="https://pugjs.org/language/inheritance.html") extends]) as the basis of your templates. These docs and examples begin that way.
      
      p Alternatively, you can start without extending this example starter template.

    .flex-item--span-6
      .b--rounded-8.bg--teal-darken-1.white.p--16
        p The #[a.blue-lighten-2(href="https://pugjs.org/api/getting-started.html") PugJS documentation] is the first place to learn Pug.  

        p Plus here are some tutorials:
          
        ul
          li.mb--0 Simon Swiss's series, #[a.blue-lighten-2(href="https://www.youtube.com/watch?v=JqCs1pdmf9o&list=PLHrxuCR-0CcSWiMuLf58iuIsNlP549-Sk") Jade/Pug Tips in 90 Seconds] on YouTube

          li.mb--0 Derek Banas's #[a.blue-lighten-2(href="https://www.youtube.com/watch?v=l5AXcXAP4r8") Jade/Pug Tutorial] on YouTube

          li Bryan Stoner's tutorial, #[a.blue-lighten-2(href="https://codepen.io/mimoduo/post/learn-pug-js-with-pugs") Learn Pug.js with Pugs] on Codepen
          
        p.mb--0 #[b Note:] Pug was formerly known as Jade, and some of the tutorials above date from that time but they are still relevant.

  
  h3.mt--line The #[code _codebase.pug] starter template
    
  pre
    code.
      //- Codebase Starter

      include generators/__generators-index

      block vars
        - lang = ""
        - htmlDir = ""
        - htmlClass = ""
        - title = ""
        - description = ""
        - author = ""
        - favicon = ""
        - faviconType = ""
        - bodyClass = ""

      doctype html
      html(lang=lang, dir=htmlDir, class=htmlClass)

        head
          meta(charset="utf-8")
          meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome-1")
          meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
          meta(name="description", content=description)
          meta(name="author", content=author)

          title \#{title}
          
          link(rel="icon", href=favicon, type=faviconType)

          block head-addins

            //- If you wish to replace `codebase.css` with your own CSS (that imports 
              `codebase.css`), then use `block` in your template. Or if you wish to retain this `codebase.css` below, then use `block append head-addins`.
            link(rel="stylesheet", href="codebase/css/codebase.css")
              
        body(class=bodyClass)
          block body

          block body-foot-addins
            script(src="codebase/js/codebase.js")
  
  p.
    You can then #[code extend] the Codebase starter in your own Pug template(s) as follows:
    
  pre
    code.
      //- Your Template

      extends ../codebase/pug/_codebase
      
      //- ...etc.
  
  h3 How the Codebase Docs use Pug

  p The Codebase docs were generated using many of the features of Pug. So, you can also learn from the docs code itself.
    
  ol
    li The docs have been written using the Pug syntax.

    li The Codebase docs have a their own #[a(href="docs/_docs-template.pug") docs starter template] named #[code _docs-template.pug], that itself inherits the #[a(href="codebase/pug/_codebase.pug") Codebase starter template] named #[code _codebase.pug]. (It is this Codebase starter template that links to #[code codebase.css] and #[code codebase.js].)

    li The docs starter template has #[a(href="https://pugjs.org/language/inheritance.html") blocks] into which the docs chapter pages (e.g. #[a(href="docs/getting-started.pug") getting-started.pug]) insert their content &ndash; see (4.) and (5.).

    li The #[a(href="docs/docs-template-partials") docs-template-partials/] folder contains partial Pug files (e.g. header, sidebars, footer and article templates) that are #[a(href="https://pugjs.org/language/includes.html") included] into the docs pages.

    li Each chapter article has its own article template (#[a(href="docs/docs-template-partials/_docs-article.pug") _docs-article.pug]).

    li The #[a(href="docs/docs-articles") docs-articles/] folder contains all the articles of the Codebase docs. These articles are partial files that are included into the pug pages, similar to how the header, sidebars, etc. are included.

    li The docs make use of some simple #[a(href="#getting-started-codebase-html-generator-mixins") Codebase HTML generator mixins] that are used for generating some of the docs examples. They can also be used for rapid prototyping (see their use in the #[a(href="examples.html") Examples]).